<app-header></app-header>
<div class="container">
    <!--div class="row">
        <div class="col-md-12"-->            
           <!--  <app-home *ngIf="loadedFeature === 'home'"></app-home>
            <app-about *ngIf="loadedFeature === 'about'"></app-about>
            <app-menu *ngIf="loadedFeature === 'menu'"></app-menu>
            <app-contact *ngIf="loadedFeature === 'contact'"></app-contact> 
            <app-cart *ngIf="loadedFeature === 'cart'"></app-cart> -->
            <!--/div>
    </!--div-->    
</div>
<router-outlet></router-outlet>