<div class="pic container-fluid">
    <div class="img-pic">
        <img src="https://www.w3schools.com/w3images/pizza.jpg" 
    alt="thin crust pizza">
    </div>
    <div class="caption">
        <p>THIN <br>CRUST PIZZA</p>                
    </div>
    <button type="button" (click)="goToMenu()" class="menu-tag">Let me see the menu</button>
</div>


 
<!-- <div class="text">
    <p>Open from 10am to 12pm</p>
</div>  -->


 



<!-- 
           <div class="pic">
    <img src="https://www.w3schools.com/w3images/pizza.jpg" 
    alt="thin crust pizza">
</div>

<div class="text">
    <p>Open from 10am to 12pm</p>
</div>

<div class="caption">
    <p>THIN <br>CRUST PIZZA</p>
    <button type="button" class="menu-tag">Let me see the menu</button>
</div>
 

-->