/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-xs-6 {
    width: 50%;
}

*/


.pull-left {
    width: 30%;
}     

.pull-right {
    border: 1px solid #fefefe;
    background-color: #f2f2f2;
    padding: 16px;   
    width: 45%;
}


h4 {
    text-align: center;
    font-size: 40px;
  }