* {
    background-color: indianred;
    color: white;       
}

.row {
    margin: -25px;
    padding: 50px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 64px;
    color: white;
}

.wcircle {
    border-radius: 50%;
}

.wright {
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}