<div class="container">  
    <!--div class="row"-->
           <h1>THE MENU</h1>       
           <ul class="menu">
               <li>
                   <a style="cursor: pointer;" routerLinkActive="menu-style" 
                   routerLink="/menu/pizza">PIZZA</a>
               </li>
                    
               <li>
                   <a style="cursor: pointer;" routerLinkActive="menu-style" 
                   routerLink="/menu/salad">SALAD</a>
               </li>
               <li>
                   <a style="cursor: pointer;" routerLinkActive="menu-style"
                    routerLink="/menu/starter">STARTER</a>
               </li>
           </ul>    
        <router-outlet></router-outlet>
</div>
<!-- 
   <div class="row">
       <h1>THE MENU</h1>       
       <div class="menu">
            <div class="col-xs-4">
               <a style="cursor: pointer;" routerLinkActive="menu-style" 
               routerLink="/menu/pizza">PIZZA</a>
           </div>
            <div class="col-xs-4">
               <a style="cursor: pointer;" routerLinkActive="menu-style" 
               routerLink="/menu/salad">SALAD</a>
            </div>
            <div class="col-xs-4" >
               <a style="cursor: pointer;" routerLinkActive="menu-style"
                routerLink="/menu/starter">STARTER</a>
            </div>
       </div>
   <router-outlet></router-outlet>
</div>  -->