 
ul {
    overflow: auto;
}

.badge {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
}

.navbar-right {
    position: relative;
}

.navbar-right span{
     
    position: absolute;
}

.cart-image {
    position: relative;
    height: 30px;
    width: 20px;
    font-size: 20px;
 }

.cart-num {
    position: absolute;        
    top: 50%;
    left: 60%;
    height: 40px;
    transform: translate(0%, -50%);
}